[lang="de"] .en {
	display: none;
}

[lang="en"] .de {
	display: none;
}

[data-color="red"] {
	--accent-light: #cb1a29;
	--accent-dark: #eb6c68;
}

[data-color="yellow"] {
	--accent-light: #e19d00;
	--accent-dark: #ffd52a;
}

[data-color="green"] {
	--accent-light: #0e7667;
	--accent-dark: #27f4e2;
}

[data-color="blue"] {
	--accent-light: #0e6aba;
	--accent-dark: #54bef6;
}

[data-color="purple"] {
	--accent-light: #654199;
	--accent-dark: #ba9cd4;
}

[data-color="gray"] {
	--accent-light: #586579;
	--accent-dark: #adbbc5;
}
:root {
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Variable", "Segoe UI Variable Text",
		"Segoe UI", system-ui, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
		"Apple Color Emoji", "Segoe UI Symbol", "Symbola";

	--border-radius--large: 0.5rem;
	--border-radius--small: calc(var(--line-width) / 2);
	--line-width: 4px;
	--line-width--small: 3px;
	--line-length: 2rem;
	--line-length--vertical: 1.5rem;
	--connection-width: 24em;
	--height--icon--small: 16px;
	--navbar-space--bottom: calc(1.5rem + max(0.5rem, env(safe-area-inset-bottom)) + 38px);

	--overflow-content: hidden;

	--map-filter: none;
	--border: var(--line-width) solid var(--foreground-color--transparent);
	--border--very-transparant: var(--line-width) solid var(--foreground-color--very-transparent);
	--cubic-bezier: cubic-bezier(0.22, 0.61, 0.36, 1);

	font-size: 100%;

	--foreground-color--light: #000000;
	--background-color--light: #ffffff;
	--foreground-color--transparent--light: #00000020;
	--foreground-color--very-transparent--light: #00000010;
	--background-color--transparent--light: #ffffffe0;
	--foreground-color--dark: #ffffff;
	--background-color--dark: #121212;
	--foreground-color--transparent--dark: #ffffff14;
	--foreground-color--very-transparent--dark: #ffffff0a;
	--background-color--transparent--dark: #121212e0;
	--nationalExpress-color: var(--foreground-color);
	--nationalExpress-color--opaque: var(--background-color);
}

@media (update: fast) {
	[data-blur="true"] {
		--blur: blur(3px);
	}
	:root[data-theme="dark"] {
		--map-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3)
			brightness(0.7);
	}
}

@media (prefers-color-scheme: light) {
	:root:not([data-theme]) {
		color-scheme: light;
		--background-color: var(--background-color--light);
		--foreground-color: var(--foreground-color--light);
		--background-color--transparent: var(--background-color--transparent--light);
		--foreground-color--transparent: var(--foreground-color--transparent--light);
		--foreground-color--very-transparent: var(--foreground-color--very-transparent--light);
		--product-color: var(--foreground-color);
		--accent-color: var(--accent-light);
		--accent-inverted: var(--accent-dark);
	}
}

@media (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		color-scheme: dark;
		--background-color: var(--background-color--dark);
		--foreground-color: var(--foreground-color--dark);
		--background-color--transparent: var(--background-color--transparent--dark);
		--foreground-color--transparent: var(--foreground-color--transparent--dark);
		--foreground-color--very-transparent: var(--foreground-color--very-transparent--dark);
		--accent-color: var(--accent-dark);
		--accent-inverted: var(--accent-light);
	}
}

[data-theme="light"] {
	color-scheme: light;
	--background-color: var(--background-color--light);
	--foreground-color: var(--foreground-color--light);
	--background-color--transparent: var(--background-color--transparent--light);
	--foreground-color--transparent: var(--foreground-color--transparent--light);
	--foreground-color--very-transparent: var(--foreground-color--very-transparent--light);
	--product-color: var(--foreground-color);
	--accent-color: var(--accent-light);
	--accent-inverted: var(--accent-dark);
	--accent-red: #cb1a29;
	--accent-yellow: #e19d00;
	--accent-green: #0e7667;
	--accent-blue: #0e6aba;
	--accent-purple: #654199;
	--accent-gray: #586579;

	--suburban-color: #408335;
	--suburban-color--bright: #8cbc80;
	--subway-color: #1455c0;
	--subway-color--bright: #73aef4;
	--tram-color: #a9455d;
	--tram-color--bright: #da9aa8;
	--bus-color: #814997;
	--bus-color--bright: #c2a1c7;
	--ferry-color: #309fd1;
	--ferry-color--bright: #84cfef;
	--taxi-color: #ffd800;
	--taxi-color--bright: #fff876;
	--regional-color: #ec0016;
	--regional-color--bright: #fa9090;
	--regionalExpress-color: #f39200;
	--regionalExpress-color--bright: #faca7f;
	--national-color: #646973;
	--national-color--bright: #afb4bb;
}

[data-theme="dark"] {
	color-scheme: dark;
	--background-color: var(--background-color--dark);
	--foreground-color: var(--foreground-color--dark);
	--background-color--transparent: var(--background-color--transparent--dark);
	--foreground-color--transparent: var(--foreground-color--transparent--dark);
	--foreground-color--very-transparent: var(--foreground-color--very-transparent--dark);
	--accent-color: var(--accent-dark);
	--accent-inverted: var(--accent-light);
	--accent-red: #eb6c68;
	--accent-yellow: #ffd52a;
	--accent-green: #27f4e2;
	--accent-blue: #54bef6;
	--accent-purple: #ba9cd4;
	--accent-gray: #adbbc5;

	--suburban-color: #66a558;
	--suburban-color--bright: #2a7230;
	--subway-color: #347de0;
	--subway-color--bright: #0c3992;
	--tram-color: #c0687b;
	--tram-color--bright: #8c2e46;
	--bus-color: #9a6ca6;
	--bus-color--bright: #6e368c;
	--ferry-color: #55b9e6;
	--ferry-color--bright: #0087b9;
	--taxi-color: #fff000;
	--taxi-color--bright: #ffbb00;
	--regional-color: #f75056;
	--regional-color--bright: #9b000e;
	--regionalExpress-color: #f8ab37;
	--regionalExpress-color--bright: #d77b00;
	--national-color: #878c96;
	--national-color--bright: #3c414b;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

summary {
	list-style: none;
	cursor: pointer;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary::after {
	width: var(--line-length);
}

html,
body {
	overscroll-behavior-y: none;
}

body {
	font-family: var(--font-family), sans-serif;
	color: var(--foreground-color);
	background-color: var(--background-color);
	margin: 0;
	hyphens: auto;
}

body:has(dialog[open]) {
	overflow: hidden;
}

body,
a,
input,
button {
	transition:
		color 0.4s var(--cubic-bezier),
		background 0.4s var(--cubic-bezier),
		border-color 0.4s var(--cubic-bezier);
}

svg {
	display: block;
	flex-shrink: 0;
}

svg polyline,
svg line,
svg path,
svg circle {
	transition:
		stroke 0.4s var(--cubic-bezier),
		fill 0.4s var(--cubic-bezier);
}

button {
	cursor: pointer;
}

input,
button {
	background-color: transparent;
	color: var(--foreground-color);
	border: none;
	font: inherit;
	padding: 0;
}

a {
	color: var(--foreground-color);
}

select {
	border: none;
	font-size: 1rem;
	background-color: transparent;
	color: var(--foreground-color);
}

header {
	/*noinspection CssInvalidPropertyValue*/
	text-wrap: balance;
}

.content-wrapper {
	max-width: 30rem;
	margin: auto;
}

.flex-row {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row-column {
	display: flex;
}

.padded-top-bottom {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.line--accent {
	background-color: var(--accent-color);
	transition: background-color 0.4s var(--cubic-bezier);
	border-radius: var(--border-radius--small);
}

.line--regular {
	background-color: var(--foreground-color);
	border-radius: var(--border-radius--small);
	width: 100%;
	height: var(--line-width);
}

.line--vertical {
	background-color: var(--foreground-color);
	border-radius: var(--border-radius--small);
	height: 100%;
	width: var(--line-width);
	max-width: var(--line-width);
}

.line--success {
	background-color: var(--accent-green);
}
.text--green,
.text--on-time {
	color: var(--accent-green);
}

.line--neutral {
	background-color: var(--foreground-color);
}

.line--warning {
	background-color: var(--accent-yellow);
}
.text--yellow {
	color: var(--accent-yellow);
}

.line--error {
	background-color: var(--accent-red);
}
.text--red,
.text--cancelled,
.text--delayed {
	color: var(--accent-red);
}

.text--blue {
	color: var(--accent-blue);
}

.line--product {
	background-color: var(--product-color);
}
.stroke--product {
	stroke: var(--product-color);
}

.product--undefined, .product-- {
	--product-color: transparent;
	--product-color--opaque: transparent;
}

.product--suburban {
	--product-color: var(--suburban-color);
	--product-color--opaque: var(--suburban-color--bright);
}

.product--subway {
	--product-color: var(--subway-color);
	--product-color--opaque: var(--subway-color--bright);
}

.product--tram {
	--product-color: var(--tram-color);
	--product-color--opaque: var(--tram-color--bright);
}

.product--bus {
	--product-color: var(--bus-color);
	--product-color--opaque: var(--bus-color--bright);
}

.product--ferry {
	--product-color: var(--ferry-color);
	--product-color--opaque: var(--ferry-color--bright);
}

.product--taxi {
	--product-color: var(--taxi-color);
	--product-color--opaque: var(--taxi-color--bright);
}

.product--regional {
	--product-color: var(--regional-color);
	--product-color--opaque: var(--regional-color--bright);
}

.product--regionalExpress {
	--product-color: var(--regionalExpress-color);
	--product-color--opaque: var(--regionalExpress-color--bright);
}

.product--national {
	--product-color: var(--national-color);
	--product-color--opaque: var(--national-color--bright);
}

.product--nationalExpress {
	--product-color: var(--nationalExpress-color);
	--product-color--opaque: var(--nationalExpress-color--opaque);
}

.hoverable {
	cursor: pointer;
	border-radius: 50vh;
	border: var(--line-width) solid transparent;
	transition: color 0.4s var(--cubic-bezier);
	padding: 0.5rem;
	display: flex;
}

.hoverable--visible {
	background-color: var(--foreground-color--very-transparent);
	border: var(--line-width) solid var(--foreground-color--very-transparent);
}

.hoverable--accent {
	background-color: var(--accent-color);
	color: var(--background-color);
	border: var(--border);
	font-weight: bolder;
	svg {
		--foreground-color: var(--background-color);
	}
}

.hoverable:hover,
.hoverable:active {
	border: var(--line-width) solid var(--foreground-color--transparent);
	background-color: var(--foreground-color--transparent);
}

.hoverable--accent:hover,
.hoverable--accent:active {
	border-color: var(--foreground-color);
	background-color: var(--accent-color);
}

.hoverable--visible--group {
	--base-padding: .5rem;
	align-items: stretch;
	button {
		border-top: var(--border--very-transparant);
		border-bottom: var(--border--very-transparant);
		background-color: var(--foreground-color--very-transparent);
		padding: 0.5rem calc(var(--base-padding) + var(--line-width));
		transition: none;
		height: 100%;
	}
	button:hover,
	button:active {
		background-color: var(--foreground-color--transparent);
		border: var(--border);
		padding: 0.5rem var(--base-padding);
	}
	> :first-child button {
		border-top-left-radius: 50vh;
		border-bottom-left-radius: 50vh;
		border-left: var(--border--very-transparant);
		padding-left: calc(var(--base-padding) + .25rem);
		&:hover {
			border-left-color: var(--foreground-color--transparent);
		}
	}
	> :last-child button {
		border-top-right-radius: 50vh;
		border-bottom-right-radius: 50vh;
		border-right: var(--border--very-transparant);
		padding-right: calc(var(--base-padding) + .25rem);
		&:hover {
			border-right-color: var(--foreground-color--transparent);
		}
	}
}

.hoverable--visible--group--no-side-padding {
	--base-padding: 0rem;
}

.transition {
	height: 0.5rem;
	width: 100%;
	background: linear-gradient(to bottom, var(--background-color--transparent), transparent);
}

.limit-lines {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.skeleton {
	& .skeleton-text {
		border-radius: 50vh;
		animation: skeleton-loading 0.5s linear infinite alternate;
		background-color: var(--foreground-color--transparent);
		color: transparent;
		user-select: none;
		-webkit-user-select: none;
	}
}

@keyframes skeleton-loading {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

.desktop-only {
	display: none;
}

@media screen and (min-width: 1000px) {
	:root {
		--navbar-space--bottom: 0rem;
	}
	html,
	body {
		margin: 0;
	}
	.desktop-only {
		display: unset;
	}
	.mobile-only {
		display: none;
	}
}
